body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ant-layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-sider {
  height: 100vh;
}

.ant-layout-content {
  position: relative;
  overflow: auto;
}

.ant-layout-sider-children {
  overflow: auto;
}
